.sider{
  position: relative;
}


.sider .menu li[class='ant-menu-item']{
  margin-left: -8px;
}

.logo {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0;
  height: 64px;
  cursor: pointer;
}

.exit{
  position: relative;
  bottom:0;
  margin-top: auto;
}
.sider .trigger{
  margin-left: 0;
}
.button__wrapper{
  margin-top: auto;
}

.button_trigger{
  position:absolute;
  padding: var(--p-null);
  height: 66px;
  width: 20px;
  border: none;
  transform:translateY(-50%);
  right: -19px;
  top:50%;
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0% 100%);
}

.button_exit{
  
  display:flex;
  align-items: center;
  gap: var(--gap);
  padding:  var(--p-null);
  height: 40px;
  padding: 0 16px;
  margin-top: auto;
  border: none;
  background: transparent;
  width: 100%;
  letter-spacing: .8px;
  box-shadow: inset 0 1px 0 0 var(--character-light-dividers);
  background: var(--character-light-primary-inverse);
}

.button__text{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
  padding: 4px 15px;
  margin-left: 10px;
}


@media (max-width:768px){
  .sider{
    position:fixed;
    z-index: 2;
    height: 100vh;
  }

  .logo{
    height: 50px;
    width: 106px;
    padding: 16px 17px;
    margin: var(--m-zero);
  }

  .logo  svg {
    width: 72px;
    height: 18px;
  }

  .button_trigger{
    height: 48px;
    width: 32px;
    right: -31px;
    top:48px;
  }
  .sider > div .menu > li[class='ant-menu-item'] span:last-child{
    margin-left: 8px;
  }

  .sider > div .menu > li[class='ant-menu-item'] span:first-child {
    display:none;
  }

  .button_exit{
    justify-content: center;
  }

}