.calendar-page{

  margin: -24px -24px -93px;
  padding:24px 24px 93px;
  background-color: var(--primary-light-1);

}

.calendar-page .ant-picker-cell-inner.ant-picker-calendar-date{
  /*
  padding-left:0;
  */
}