.calendar-page{
  margin: -24px -24px -93px;
  padding:24px 24px 93px;
  background-color: var(--primary-light-1);
}
.calendar-page .calendar{
  background: var(--primary-light-1);
}
.calendar .ant-picker-body {
  background: var(--primary-light-1);
}

.calendar-page .ant-picker-cell-inner{
  background: var(--character-light-primary-inverse);
}

.calendar__cell_mobile{
  position: absolute;
  width: 200%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: var(--primary-light-1)
}



@media (max-width: 480px) {
  .calendar-page{
    padding: 10px 24px 24px;
    margin: -24px -16px -63px;
  }
  .calendar-page .calendar{
    background: var(--character-light-primary-inverse);
  }
  .calendar .ant-picker-body {
    background: var(--character-light-primary-inverse);
  }

  .ant-picker-calendar-header{
    display:flex;
    justify-content: flex-end;
    gap: 8px;
    height: 44px;
    padding: 10px 8px;
  }
  .ant-picker-calendar-header .ant-picker-calendar-month-select{
    margin-left: 0;
  }
  .ant-picker-calendar-header .ant-select {
    width: fit-content;
    border: 1px solid var(--character-light-border);
    border-radius: 2px;
  }
  .ant-picker-calendar-header .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector{

    line-height: 22px;
    height: 22px;
  }
  .ant-picker-calendar-header .ant-select .ant-select-selector .ant-select-selection-search{
    
    height: 22px;
  }
  .ant-picker-calendar-header .ant-select .ant-select-selector .ant-select-selection-item{
    
    height: 22px;
  }


  .ant-picker-calendar-header .ant-radio-group {
    margin-top: 0;
    width: fit-content;
  }
  .ant-picker-calendar-header .ant-radio-group .ant-radio-button-wrapper{
    width:fit-content;
  }

  .ant-picker-calendar .ant-picker-panel .ant-picker-body {
    padding: 8px;
  }


  .calendar .ant-picker-content{
    height: 196px;
  }  
}