.custom-card{
  width: 240px;
}

.custom-card > div[class="ant-card-body"]{
  padding: var(--p-null);  
}
.custom-card > div[class="ant-card-body"] > div[class="ant-card-meta"] {
  margin: 12px 30px;
  height: 21px;
}

.custom-card div[class='ant-card-head']{
  max-height: 45px;
  min-height: 45px;
}
.custom-card  div[class="ant-card-head-title"] {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
  text-align: center;
  padding-top: var(--p-m);
  padding-bottom: var(--p-m);
  white-space: initial;
  overflow: none;
  text-overflow: initial;
}
.custom-card > div[class="ant-card-body"] > div[class="ant-card-meta"] > div > div[class='ant-card-meta-title']{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  height: 21px;
  color: var(--character-light-title-85);
  text-align: center;
  white-space: initial;
  overflow: auto;
  text-overflow: initial;
}

.custom-card > ul[class="ant-card-actions"] {
  box-sizing: border-box;
}
.custom-card > ul[class="ant-card-actions"] > li > span > button {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--primary-light-6);
}


@media (max-width: 992px) and (min-width: 576px) {

  .custom-card{
    width: 100%;
  }
  .custom-card > div[class="ant-card-head"]{
    max-height: 66px;  
  }

  .custom-card  div[class="ant-card-head-title"]{
    max-height: 66px;
    text-align: left;
  }

  .custom-card > div[class="ant-card-body"] > div[class="ant-card-meta"] > div > div{
    height: 150px;
    color: var(--character-light-title-85);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .custom-card{
    width: 100%;
  }
  .custom-card  div[class="ant-card-head-title"]{
    text-align: center;
  }
}