.app {
  max-width: 1440px;
  min-height: 100vh;
  background: no-repeat center/cover url('@assets/Main_page_light.png');
}

.app.auth-app{
  background: no-repeat center/cover url('@assets/Enter_page_light.png');
}
