
.drawer-calendar .ant-drawer-content-wrapper{
  width: 408px;
}
.ant-select:not(.ant-select-focused) .ant-select-selector{
  border: none;
}
.drawer-calendar__title-wrapper{
  display:flex;
  gap: 10px;
}

.drawer-calendar__title{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--character-light-title-85);
}

.drawer-calendar__badge{
  display:flex;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: var(--character-light-secondary-45);

}

.drawer-calendar__exercise-list{
  display:flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}
.exercise-item{
  display:flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

}
.exercise-item__label{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--character-light-title-85);
  border-radius: 2px;
  border-bottom: 1px solid var(--character-light-dividers);
  padding: 0 8px;
  margin-bottom: 6px;
  height: 24px;
  background: var(--character-light-dividers);
}
.exercise-item__values{
  display:flex;
  justify-content: space-between;
  gap: 32px;
}

.exercise-item__values_second{
display: flex;
}
.input-divider{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--character-light-disable-25);
  width:12px;
  line-height: 24px;
  align-self: flex-end;
  text-align: center;
}


.exercise-item__input-title{
  width: 100%
}

.drawer-calendar .drawer-calendar__btn-add{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--primary-light-6);
  background: var(--character-light-dividers);
  border-radius: 0 0 6px 6px;
}