.profile__upload-text{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-secondary-45);
  padding: 0 5px;
  margin-top: var(--m-zero);
}

.profile__upload_mobile{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--gap);
}
.profile__upload_mobile .upload__label{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size-s);
  line-height: var(--line-height);
  text-align: right;
  color: var(--character-light-title-85);
}
.upload__button_mobile{
  display: flex;
  align-items: center;
  gap: var(--gap-5xs);
  height: 40px;
  padding: 10px 25px;
}
.upload__button_mobile span{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
}


@media (max-width: 576px){
  .profile__upload{
    padding: 0;
    order:2;
  }
}