.feedback-list{
  max-height: 774px;
  overflow: auto;
}
.feedback-list::-webkit-scrollbar {
  display: none;
}
.feedback-list .ant-row{
  gap: var(--gap-l);
}
.feedback-action{
  display:flex;
  gap: var(--gap-2xs);
  padding-top: 108px;
}

.feedback-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-l);
  width: 100%;
  height: 100%;
  margin-top: -9px;
}
.feedback-empty .ant-card-head{
  border-bottom: none;
}
.feedback-empty .ant-card{
  width: 100%;
  padding: 32px 0;
}
.feedback-empty .ant-card-head-title{
  padding: 24px 0
}

.feedback-empty__title{
  font-family: var(--font-family);
  line-height: var(--font-weight-m);
  font-size: var(--font-size-l3);
  line-height: var(--line-height);
  text-align: center;
  color: var(--primary-light-9);

}
.feedback-empty__content{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-secondary-45);

}

@media screen and (max-width: 768px) {
  .feedback-list{
    max-height: 1018px;
  }
  .feedback-list .ant-row{
    gap: var(--gap);
  }

  .feedback-action{
    display:flex;
    flex-direction: column;
    gap: var(--gap);
    padding-top: var(--p-9xl);
  }

  .feedback-empty{
    gap: var(--gap-14xl);
    justify-content: flex-start;
    margin-top: var(--m-zero);
  }
  .feedback-empty .ant-card{
    padding: 24px 0;
  }
  
  .feedback-empty .ant-card-head-title{
    white-space: inherit;
  }

  .feedback-empty .ant-card-body{
    padding: 24px 16px;
  }
  .feedback-empty__action{
    width:100%}

}