.settings__control-form{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--p-xl) 0;
  max-width: 505px;
}

.settings__control-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 22px;

}

.settings__control-item-title{
  display: flex;
  align-items: center;
  gap: 4px;
  
}

.settings__control-item-switch{
  max-height: 22px;
  margin-bottom: var(--m-zero);
}

.control-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: var(--character-light-title-85);
}


.settings__control-item.disable .control-title{
  color: var(--character-light-disable-25);
}

.control-title.control-title_disable{
  color: var(--character-light-disable-25);
}

.settings__control-item-title .anticon-exclamation-circle > svg{
  width: 16px;
  height: 16px;
  color: var(--character-light-secondary-45);
}


@media (max-width: 576px){

  .settings__control-form{
    gap: var(--gap-2xl);
  }

  .settings__control-item{
    align-items: center;

  }

  .settings__control-item-title{
    display: flex;
    flex-basis: 260px;
  }

  .settings__control-item-title span{
    align-self: flex-start;
  }

  .control-title{
    max-width: 170px;
  }
}