.form_change-password .title_change-password{
  font-family: var(--font-family);
  line-height: var(--font-weight-m);
  font-size: var(--font-size-l3);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
  letter-spacing: .4px;
  margin-bottom: var(--m-9xl);
}


.password-repeat{
  margin-bottom: 62px;


}


.help{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-s);
  line-height: var(--line-height);
  margin-bottom: var(--m-7xl);
}

@media (max-width: 768px) {
  .help{

    margin-bottom: var(--m-xl);
  }


}