.form_change-password .title_change-password{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-title-85);
  letter-spacing: .4px;
  margin-bottom: 32px;
}


.password-repeat{
  margin-bottom: 62px;


}


.help{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 28px;
}