.save-error-card{
  padding: 16px 8px 8px;
}

.modal-error__content{
  width: 100%;
}

.save-error-card__title{

  font-family: var(--font-family);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}

.save-error-card__subtitle{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}


.modal-error__content .modal-error__button_big{
  margin-top: var(--m-xl);
  width: fit-content;
  align-self: flex-end;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-primary-inverse);

}