.save-error-card{
  padding: 16px 8px 8px;
}

.save-error-card__title{

font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 130%;
color: var(--character-light-title-85);
}
.save-error-card__subtitle{
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 130%;
color: var(--character-light-title-85);
}


.modal-error__content .modal-error__button_big{
  margin-top: 16px;
  width: fit-content;
  align-self: flex-end;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: var(--character-light-primary-inverse);

}