.card-tariff{
  max-width: 240px;
  height: 297px;
  border-radius: var(--boder-radius-5xs);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .15);
}


.ant-card-head-title, .ant-card-extra{
  padding: var(--p-m) 0; 
}

.card-tariff__title{
  font-family: var(--font-family);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
  padding-left: var(--p-5xl);
}

.card-tariff__btn-more{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--primary-light-6);
}

.card-tariff__img{
  height: 149px;
}

.card-tariff .ant-card-actions{
  border-top: none;
}

.tariff-active-label{
  font-family: var(--font-family);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  color: var(--primary-light-10);
  padding-right: var(--gap-xs);
}



@media (max-width: 576px){

  .card-tariff{
    max-width: 100%;
    min-width: 312px;
    height: 312px;
  }

  .ant-card-head-title, .ant-card-extra{
    padding: var(--p-xs) 0; 
  }

  .card-tariff__img{
    height: 194px;
  }

}