.header{
  padding: 16px 24px;
  height: 168px;
  width: 100%;
  background: var(--primary-light-1);
  z-index: 2;
}
.header.header_feedbacks{
  max-height: 50px;
}
.header.header_calendar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 80px;
}
.header.header_profile{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 72px;
}
.header.header_settings{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 70px;
}


.header.header_calendar .button_setting-calendar{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
  display: flex;
  align-items: flex-end;
  width: 129px;
  margin-top: var(--m-xs);
  padding-left: 15px;
  margin-left: -55px;
  padding-bottom: var(--p-null);
  border: none;
  align-self: flex-end;
}
.header .button_setting_text{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
}


.breadcrumb{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}

.title__wrapper{
  display:flex;
  justify-content: space-between;
 
}
.header .title_header{
  font-family: var(--font-family);
  font-size: var(--font-size-l4);
  max-width: 1000px;
  color: var(--character-light-title-85);
  margin-top: var(--m-l);
  line-height: var(--line-height);
}
.title4__wrapper{

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
  width:100%;
}
.header .title_header4{
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin-bottom: var(--m-zero);
}

.header .button_setting{
  display: block;
  width: 129px;
  margin-top: var(--m-xs);
  padding-left: 15px;
  margin-left: -55px;
  border: none;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
}

@media (max-width: 1280px) and (min-width: 576px) {

  .header{
    height: fit-content;
    z-index: 1;
    box-shadow: none;
  }
  .header .title_header{
    line-height: var(--line-height);
    font-size: var(--font-size-l3);
    margin-bottom: var(--m-2xs);
  }
  .button_setting span[role='img']{
    visibility: hidden;
  }

  .header.header_profile{

    min-height: 96px;
  }
  .header.header_settings{

    min-height: 62px;
  }

  .header .title_header4{

    font-family: var(--font-family);
    font-weight:  var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
  }
  .header .button_setting-calendar{
    align-self: flex-end;
  }
  .header .title4__wrapper{
    align-self: flex-start;
  }


}
@media (max-width: 576px){
  .header{
    box-shadow: none;
    z-index: 1;
  }

  .header .title_header{

    line-height: var(--font-weight-m);
    font-size: var(--font-size-l2);
    margin-bottom: var(--m-2xs);
    margin-top: var(--m-2xs);

  }
  .header  .button_setting{
    border: 1px solid var(--character-light-border);
    border-radius: 100px;
    padding: 4px 8px;
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
    margin-left: 0;
    margin-top: var(--m-zero);

  }

  .header .button_setting span:last-child{
    display: none;
  }

  .header.header_calendar .button_setting-calendar{
    width: 32px;
    height: 32px;
  }
  .header .button_setting_text{
    display: none;
  }

  .header .title_header4{

    font-family: var(--font-family);
    font-weight:  var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--character-light-title-85);
  }
  .header .button_setting-calendar{
    align-self: flex-end;
  }
  .header .title4__wrapper{
    align-self: flex-start;
  }

}