.card-training{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 264px;
  min-height: 200px;
  max-height: 364px;
  z-index: 5;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  background: var(--character-light-primary-inverse);
}

.card-training .ant-card-body{
  padding: 0 12px;
}
.card-training__content{
  display:flex;
  flex-direction: column;

  gap: 4px;
  padding: 16px 0;
  min-height: 64px;

}

.card-training__item{
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  height: var(--h-m);
  line-height: 22px;
}

.card-training__item:hover{
  background: var(--character-light-background);
}
.card-training .ant-card-actions{
  padding: 0 12px;
  min-height: 64px;
}


.card-traning__title-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
}

.card-training__title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
  margin-bottom: var(--m-3xs);
}
.card-traning__title-wrapper .card-training__title-button{
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 2px;
}
.card-training_subtitle{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-secondary-45);
  text-align: left;
}


@media  (max-width:480px) {
  
  .card-training{
    width: 312px;


  }



}