.app {
  max-width: 1440px;
  height: 100vh;

}

.app .site-layout {
  width: 100%; 
  background: transparent;
  }


.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.ant-menu-title-content{

  margin-left: 30px;
}
.app{
background: no-repeat center/cover url('/public/Main_page_light.png');

}
.main{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 100%;

}

.main > * {

  max-width: 752px;
  color: red;
}
.main > div{
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  background: var(--character-light-primary-inverse);
}
.main > div:first-child{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--primary-light-9);

}
.main > div:first-child > div > p{

  margin: 0;
}

.main > div:nth-child(2){
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: var(--character-light-title-85);

}

.main > div:nth-child(2) > div > p{

  margin: 0;
}

.main > div:last-child{
  background: transparent;
  margin-top: -8px;
}
