.result-card{
  padding: var(--p-null);
}
.ant-result-title{
  font-family: var(--font-family);
  line-height: var(--font-weight-m);
  font-size: var(--font-size-l3);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
  margin: 0 -20px;
}

.ant-result-subtitle{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-secondary-45);
}
.ant-result-extra {
  margin: var(--m-zero);
}
.result-card .ant-btn.ant-btn-primary {
  border: 1px solid var(--primary-light-6);
  border-radius: 2px;
  padding: 4px 15px;
  margin-top: var(--m-5xl);
  height: 40px;
  width: 100%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  background: var(--primary-light-6);
}

.result-card .ant-btn.ant-btn-primary.ant-btn-fit-content {
  width: fit-content;
}

.result-card .ant-btn.ant-btn.ant-btn-primary > span{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-primary-inverse);
}