.textarea_modal{
  box-sizing: border-box;
  margin-top: var(--m-xl);
  border: 1px solid var(--character-light-border);
  border-radius: 2px;
  padding: 5px 12px;
  width: 491px;
  height: 44px;
}

.title_modal{
  font-family: var(--font-family);
  line-height: var(--font-weight-m);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}

.ant-modal-footer{
  padding: 10px 24px
}

@media  screen and (max-width: 768px) {
  .button_modal-send{
    width: 100%
  }
}