.footer{
  display: flex;
  justify-content: space-between;
  background: transparent;
  margin-bottom: 42px;
  padding: 0 var(--p-5xl);
}

.button_review{
  align-self: self-end;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  text-align: center;
  color: var(--primary-light-6);
  padding-top: var(--p-null);
  padding-bottom: var(--p-2xs);
}

.footer__card{
  width: 240px;
  height: 127px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, .02);
  background: var(--character-light-primary-inverse);
}

.footer__card > div > div > div > div[class='ant-card-meta-title']{
  cursor: pointer;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-l);
  line-height: 160%;
  margin-bottom: var(--m-xs);
  color: var(--primary-light-6);
}

.footer__card > div > div > div > div[class='ant-card-meta-description']{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-secondary-45);
}

.footer__card > ul > li > span > button{
  padding: var(--p-2xs) 11px;
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
}

.footer__card > ul > li > span > button > span[role='img']{
  width: 14px;
  height: var(--h-3xs);
}

.footer__card > div{
  padding: var(--p-m) var(--p-5xl);
}

.footer__card > ul {
  border-radius: 2px;
}

.footer__card > ul >li:not(:last-child) {
  border: none;
}

.card-body{
  padding: var(--p-null);
}

@media (max-width: 768px){

  .footer{
    flex-direction: column;
    padding: 0 var(--p-xl);
  }

  .button_review{
    align-self: center;
    height: 40px;
    padding-top: var(--p-xs);
    padding-bottom: var(--p-xs);
    margin-top: var(--m-5xl);
    order: 2;
  }

  .footer__card{
    width: 100%;
  }

  .card-body{
    text-align: center;
  }
}