.badge__traning-item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden; 
}
.badge__traning-item .ant-badge{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-wrap: nowrap;
  overflow: hidden;
}
.badge__traning-item_small{
  height: var(--h-2xs); 
  line-height: 16px;
}
.badge__traning-item_big{
  height: var(--h-m);
  line-height: 22px;
}
.badge__training-item_icon{
  line-height: 18px;
  color: var(--primary-light-6);
}
.badge__traning-item_small .ant-badge-status-text{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-s);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}

.badge__traning-item_big .ant-badge-status-text{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}

.badge__training-item_gray .ant-badge-status-text{
  font-family: var(--font-family);
  line-height: var(--font-weight-m);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-secondary-45);
}

.badge__training-item_disable .ant-badge-status-text{
  color: var(--character-light-disable-25);
}

@media (max-width: 992px){
  .badge__traning-item .ant-badge-status-text{
    margin-left: 6px;
  }
}