.modal-result .ant-result{
  padding: 64px 85px;
}
.ant-btn.ant-btn-ghost.ant-btn-lg{
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 130%;
text-align: center;
color: var(--character-light-title-85);

}



.modal-result__button-wrapper{
  display: flex;
  width:100%;
  gap: 10px
}
.modal-result .ant-btn{
  margin-top: 24px;
  width: 100%
}


@media screen and (max-width: 768px) {
  .modal-result .ant-result{
  padding: 32px 16px;
}

  .modal-result .ant-result-title{
    white-space: initial;
    margin: 0;
  }
}