.modal-result .ant-result{
  padding: 64px 85px;
}

.ant-btn.ant-btn-ghost.ant-btn-lg{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-title-85);
}

.modal-result__button-wrapper{
  display: flex;
  width: 100%;
  gap: var(--gap-xs);
}

.modal-result .ant-btn{
  margin-top: var(--m-5xl);
  width: 100%;
}

.modal-result__extra-text{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-align: center;
  color: var(--character-light-secondary-45);
  margin: 0 auto;
}


.modal-result.modal-result_payment .ant-result{
  padding-right: var(--p-9xl);
  padding-left: var(--p-9xl);
}

.modal-result.modal-result_payment .anticon-check-circle svg{
  color: var(--primary-light-6);
}

@media screen and (max-width: 768px) {

  .modal-result .ant-result{
    padding: var(--p-9xl) var(--p-xl);
  }

  .modal-result .ant-result-title{
    white-space: initial;
    margin: var(--m-zero);
  }
}