
.card-exercise-info__title-wrapper{
  display: flex;
  gap: var(--gap-s);
  /* height: 53px; */
  /* padding-top: var(--p-m);
  padding-bottom: var(--p-m);
  border-bottom: 3px solid black; */
}


.card-exercise__title{
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--character-light-title-85);
}


.card-exercice-info__content{
  min-height: 131px;
  padding-top: var(--p-xl);
}