.form_login {
  display:flex;
  flex-direction: column;
  padding-top: var(--p-9xl);
}

.form-item_check-area {
  display:flex;
  justify-content: space-between;
  margin-top: var(--m-5xl);
  margin-bottom: var(--m-5xl);
}

div[class='ant-form-item'] span[class='ant-input-group-addon']{
  padding-left: var(--p-m);
  padding-right: var(--p-m);
  letter-spacing: .3px;
}

.help{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-s);
  line-height: var(--line-height);
  margin-bottom: var(--m-7xl);
}

.password-repeat{
  padding-bottom: 38px;
}

.checkbox_remember{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: rgba(0, 0, 0, 0.85);
}
.login-form-forgot{
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size-l);
  line-height: var(--line-height);
  text-align: center;
  color: var(--primary-light-6);
}

.buttom_form-submit{

  margin-bottom: -20px;
}
.login-form-button, .login-form-button_google{
  letter-spacing: .3px;
}

@media (max-width: 576px){

  .form_login {

    padding-top: var(--p-5xl);
  }

  .password-repeat{
    padding-bottom: var(--p-7xl);
  }
  .help{
    margin-bottom: var(--m-m);
  }
  .login-form-forgot{
    font-size: var(--font-size);
  }
  .login-form-button, .login-form-button_google{
    font-size: var(--font-size);
    letter-spacing: .4px;
  }
}